@model IEnumerable<MyUniversity.Models.Course>
 
<h2>Courses List</h2>
<a asp-action="Create">Create Course</a>
<br />
<table class="table" border="1">
     <tr><th>Title</th><th>Description</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td width="75%">@item.Description</td>
            <td>
                <p>
                    <a asp-action="Details" asp-controller="Course" asp-route-id="@item.Id">Details</a> | 
                    <a asp-action="Edit" asp-controller="Course" asp-route-id="@item.Id">Edit</a> | 
                    <a asp-action="Delete" asp-controller="Course" asp-route-id="@item.Id">Delete</a>
                </p>
            </td>
        </tr>
    }
</table>